*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
.container{
    max-width:1150px;
    width:100%;/*so that some space is left beside the content whenever the page size is decreased*/
    margin: 0px auto;
}

.header{
    background-color:white;
    border-bottom:1px solid rgb(175, 172, 172);
    padding:0px 10px;
    z-index:10;
}
.container2{
    max-width:460rem;
    width:100%;
} 

 .header .left-part a i{
    width:3.4rem;
    
    /* font-size:3.4rem; */
    float:left; 
    margin:6px 7px 7px 0px;
}
.search-bar{
    /* width:41rem; */
    height:3.4rem;
    float:left;
    margin:9px 0px 9px 0px; 
    max-width:69.56%;
    width:100%;
}

.left-part .search-bar .form{
    width:87.5%;
    height:3.4rem;
    background-color:#EEF3F8;
    /* padding:0px 8px 0px 0px; */
    
    position:relative;
} 
.left-part .form i{
    /* float:left;  */
    height:100%;
    width:20%;
    position:absolute;
    top:25%;
    left:6%;
    font-size:1.4rem;
    color:rgba(24, 22, 22, 0.7);
}

.left-part .form input{
    padding:0px 8px 0px 40px;
    border-width: 0px;
    background-color:#EEF3F8;
    height:100%;
    width:100%;
    font-size:1.3rem;

}  
/*************************************************************************************************************************/
.size{
    height:5.2rem;
    width:8rem;
    padding:1em 0px;
}
.size1{
    height:5.2rem;
    width:9rem;
    font-size:1rem;
    text-align: center;
    /* border:1px solid black; */
    
}
.exclusive-para{
    position:relative;
    top:50%;
   transform:translate(0,-50%);
   color:rgb(153, 47, 47);
   font-size:1.2rem;
}

.align-p{
     height:18px;
     width:100%;
     font-size:1.6rem;
     text-align: center;
     color:rgb(107, 103, 103);
     padding-top:0.15em;
    font-size:1.4rem;
}

.icon-font{
    position:relative;
    left:40%;
    font-size:1.9rem;
    color:rgb(121, 115, 115);
}
.me p{
    font-size:1.6rem;
}

nav .para{
    display:inline-block;
    color:rgb(148, 141, 141);
    padding-top:0.15em;
   font-size:1.4rem;
}
.me{
    position:relative;
}
.align{
    position:absolute;
    left:50%;
    width:62%;
    transform:translate(-50%,0);
    /* border:2px solid red; */
    margin:0px auto;
}
.align1{
    position:absolute;
    left:50%;
    width:40%;
    transform:translate(-50%,0);
    /* border:2px solid red; */
    margin:0px auto;
    
} 
nav .size{
    display:inline-block;
}
.size, .size1{
    float:left;
    /* display:flex; */
}
.head nav .apply-border{
    border-right:1px solid rgb(206, 202, 202);
}
.header nav .size p:hover{
    color:black;
}
.header nav .size i:hover{
    color:black;
}
.size1 p:hover{
    text-decoration:underline;
}
/*************************************************************************************************************/
.head{
    height:100%;
}
.navigation-bar::after{
    content:"";
    display:block;
    clear:both;
}
.left-part{
    /* border:2px solid blue; */
    width:40%;
    height:100%;
}
.left-part::after{
    content:"";
    display:block;
    clear:both;
}
.left-part{
    float:left;
}
.navigation-bar{
    float:left;
}
.header::after{
    content:"";
    display:block;
    clear:both;
} 
/********************************************************Section part*******************************************************/
.main-body{
    background:rgb(231, 231, 231); 
}
.container3{
    max-width:1128px;
    width:100%;/*so that some space is left beside the content whenever the page size is decreased*/
    /* background:rgb(231, 231, 231); */
    /* margin:24px 10% auto; */
    padding:24px 0px;
    /* margin:-24px 0px; */
    margin:0px auto;
}
/*################################################### First Article ###################################################*/
.first-article{
    float:left;
    min-width:225px;
    width:19.9468%;

    /* background-color:white; */
}
.box1{
    background-color:white;
    border:0.3px solid rgb(226, 220, 222);
    border-radius:10px; 
    
}
.box1-a{
    border-bottom:0.3px solid rgb(226, 220, 222);
    
    padding:12px 12px 16px;
}
.background1{
    border-bottom:0.3px solid rgb(226, 220, 222);
    border-top-left-radius:5px; 
    border-top-right-radius:5px; 
    /* border-bottom:0.3px solid rgb(226, 220, 222); */
    max-width:50.9rem; 
    width:100%; 
    height: 5.625rem;
    background-color: #aec7dae6;
    /* margin:-12px -12px 0px -12px; */
    
}
.background1 i{
    color:rgb(124, 122, 122);
    background-color:#EEF3F8;
    border:2px solid white;
    border-radius: 10em;
    position:relative;
    top:35%;
    left:50%;
    transform:translate(-50%,0);
}
.background2{
    height: 5.2rem;
    
}
.box1 h2{
    font-size:1.6rem;
    color:rgb(88, 86, 86);
    width: 100%;
    text-align: center;
}
.box1 p{
    font-size:1.2rem;
    width:100%;
    text-align: center;
    margin-top:4px;
}
.box1-b{
    border-bottom:0.3px solid rgb(226, 220, 222);
    padding:12px;
    position:relative;
    /* border:1px solid black; */
}
.box1-b-text{
    float:left;
}
.box1-b i{
position:absolute;
right:5%;
top:50%;
transform:translate(0,-50%);
font-size:1.3rem;
}
.box1-b::after{
    content:"";
    display:block;
    clear:both;

}

.box1-b h3:nth-child(1)
{
    font-size:1.2rem;
    color:rgb(107, 106, 106);
}
.box1-b h3:nth-child(2){
    font-size:1.2rem;
    color:rgb(63, 63, 63); 
}
/******************************************/

.box1-c{
    padding:12px;
    border-bottom:0.3px solid rgb(226, 220, 222);

}
.box1-c h3:nth-child(1){
    font-size:1.2rem;
    color:rgb(107, 106, 106);
}
.box1-c h3:nth-of-type(2){
    font-size:1.2rem;
    color:rgb(63, 63, 63); 
    display:inline-block;
}
.box1-c i{
    color:rgb(175, 137, 13);
    font-size:1.3rem;
}
.box1-d{
    padding:12px;
    font-size:1.2rem;
    color:rgb(63, 63, 63); 
}
.box1-d h3{
    font-size:1.2rem;
    color:rgb(63, 63, 63); 
    display:inline-block;
    
}
.box1-d i{
    color:rgb(58, 53, 53);
    font-size:1.3rem;
}
/*##################################################### Middle article ##################################################*/
.second-article{
    
    max-width:540px;
    width:540px;
    margin:0px 20px;
}

.heading{
    background-color:white;
    border:0.3px solid rgb(201, 199, 199); 
    border-radius:10px;
}
.heading .start-post{
    
    padding:8px 16px  0px;
    
}
.heading .start-post i{
 font-size:4.8rem;
 margin-right:8px;
 color:rgb(124, 122, 122);
 float:left;
}
.heading .start-post input{
    
    float:right;
    width:45rem;
    height:4.7rem;
    margin: 4px 0;
    font-size: 1.4rem;
     max-width: none;
    border: 1px solid rgb(139, 136, 136);
    border-radius: 35px;
    padding-left: 16px;
}
.start-post::after{
    content:"";
    display:block;
    clear:both;
}
.icons-bar{
    padding:0px 15px;
    /* border:1px solid black; */
    margin-bottom:3px;
}
.sub-section{
    padding:16px 4px;
    display:inline-flex;/*element takes it's actual width*/
    /* border:1px solid red;  */
}
.sub-section i{
    font-size:2rem;
    display:inline-block;
    padding:0px 7px 0px 0px;
}

.sub-section h2{
font-size: 1.4rem;
color:rgb(102, 100, 100);
position:relative;
top:2px;
display:inline-block;
margin-left:7px;
}
.margin{
    margin-right:38px;
}
/**************************footer*************************/
.footer{
    margin:10px 0px;
}
.line{
    margin:5px 5px 5px 0px;
    width:84%;
    border-bottom:1px solid rgb(87, 86, 86);
    display:inline-flex;
}
.footer p, .footer h3, .footer i{
    display:inline-flex;
}
.footer i,.footer p{
    font-size:1.3rem;
}
/***************************footer ends********************/
.content-posts{
    width:100%;
    height:600px;
    background:white;
    font-size:1.6rem;
    border:1px solid rgb(192, 190, 190);
    padding:10px;
    color:rgb(90, 88, 88);
}
.second-article{
    float:left;
}

/*################################################# Middle Article Ends #################################################*/
.Third-Article{
    min-width:315px;
    width:315px;
    padding:12px 0px;
    border:1px solid rgb(192, 190, 190);
    float:left;
    /* margin-left:30px; */
    background-color:white;
    height:321.92px;
    border-radius:10px;
}

section::after{
    content:"";
    display:block;
    clear:both;
}

.sec-heading{
    padding:0px 10px 10px 10px; 
}
.sec-heading i{
    display:inline-flex;
    float:right;
}
.sec-heading h2{
    display:inline-flex;
    float:left;
}
.sec-heading::after{
    content:"";
    display:block;
    clear:both;
}
.Third-Article ul{
   width:100%;
   
}
.Third-Article li{
    padding:0px 15px 22px 0px;
    margin-top:10px 0 0 10px;
    width:90%;
    height:4.938rem;
    float:right;
    font-size:1.6rem;
    color:rgb(92, 91, 91);
    
}
.Third-Article li h3{
 font-size:1.6rem;
 color:rgb(88, 88, 88);
}
.Third-Article li h4{
    font-size:1.2rem;
    color:rgb(139, 137, 137);
    padding-top:2px;
}
